<div class="modal-header">
  <P>Asignar Rol</P>
  <div class="close-modal-block">
    <button class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="loader" *ngIf="loading"></div>
  <div *ngIf="!loading && roles">
    <div class="row">
        <mat-select placeholder="Rol" [(ngModel)]="selectedRole">
          <mat-option *ngFor="let role of roles" [value]="role.Name">
            {{ role.Name }}
          </mat-option>
        </mat-select>
      <fieldset class="controls">
        <div class="controls-container">
          <button type="button" class="ge-btn-default btn-cancel" (click)="close()">
            <span>Cancelar</span>
          </button>
          <button type="submit" class="ge-btn-default btn-accept" [disabled]="loadingImg" [ngClass]="{'btn-disabled': loadingImg}">
            <span (click)="assignRole()">Aceptar</span>
            <span *ngIf="loadingBtn">
              <fa name="spinner" animation="spin"></fa>
            </span>
          </button>
        </div>
      </fieldset>
    </div>
  </div>
</div>