<login-header></login-header>

<div class="content-body">
    <div class="loader" *ngIf="eventLoading"></div>
    <div class="event-container" *ngIf="!eventLoading">
        <div class="event-header">
            <div class="center-cropped" [ngStyle]="{ 'background-image': 'url(' + event.Image + ')'}">
            </div>
            <div class="event-sum">
                <div class="event-date">
                    <span class="event-day">{{showDayDate(event.StartDate)}}</span>
                    <span class="event-month">{{showAbbreviatedMonth(event.StartDate)}}</span>
                </div>
                <div class="event-title">{{event.Name}}</div>
                <div class="event-topic">{{event.Topic.name}}</div>
                <div class="controls">
                    <a>Inscribirme!</a>
                </div>
            </div>
        </div>
        <div class="row event-info">
            <div class="col-md-9">
                <div class="event-descr">
                    <h5>Descripción</h5>
                    <p>{{event.Description}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h5>Fecha y Hora</h5>
                    <p>{{getPrettyDateTime(event.StartDate)}}</p>
                    <p>{{getPrettyDateTime(event.EndDate)}}</p>
                </div>
                <div>
                    <h5>Ubicación</h5>
                    <p>{{event.Location.name}}</p>
                    <p>{{event.Location.address1}}</p>
                    <p *ngIf="event.Location.address2!=null||event.Location.address2!=''">
                        {{event.Location.address2}}</p>
                    <p>{{event.Location.city.name}}, {{event.Location.city.country.name}}</p>
                </div>
            </div>
        </div>
        <div class="event-schedule">
            <div class="loader" *ngIf="scheduleLoading"></div>
            <div class="schedule container" *ngIf="!scheduleLoading">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>