@import '~styles/palette';

.event-container{
    margin: 60px auto;
    width: 990px;
    box-shadow: 0 3px 7px 0 $ge-dolphin, 0 5px 15px 0 $ge-dolphin;
    .event-header{
        width: 100%;
        height: fit-content;
        .center-cropped {
            width: 70%;
            height: 300px;
            background-size: 120%;
            background-position: center center;
            background-repeat: no-repeat;
            float: left;
        }
        .event-sum{
            width: 30%;
            height: 300px;
            float: right;
            padding: 30px;
            border-bottom: 1px $ge-dolphin solid;

            .event-date{
                display: block;
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 30px;
                span{
                    display: block;
                    height: 20px;
                }
                .event-day{
                    color: $ge-elephant;
                }
                .event-month{
                    color: $ge-sunrise;
                }
            }
            .event-title{
                font-weight: 600;
                padding-bottom: 10px;
            }
            .event-topic{
                font-size: 14px;
            }
            .controls{
                height: 110px;
                a{
                    padding: 10px;
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 300;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    background-color: $ge-deep-sky;
                    color: $ge-chalk;
                    width: 100%;
                    display: block;
                    width: 100%;
                    display: block;
                    position: sticky;
                    top: 100%;
                }
                a:hover{
                    background-color: $ge-dark-sky;
                }
            }
        }
    }
    .event-info{
        clear: both;
        padding: 30px;
        .event-descr{
            padding: 10px 50px 10px 10px;
            h5{
                margin: 30px 0 20px 0;
                font-size: 16px;
            }
            p{
                font-size: 14px;
                line-height: 2;
            }
        }
        .event-details{
            h5{
                margin: 30px 0 20px 0;
                font-size: 15px;
            }
            p{
                margin: 5px 0;
                font-size: 14px;
                color: $ge-rat;
            }
            a{
                color: $ge-deep-sky;
                text-decoration: none;
            }
            a:hover{
                color: $ge-dark-sky;
            }
        }
    }
    .event-schedule{
        .schedule-container{
            height: fit-content;
            padding-bottom: 70px;
            .schedule-header{
                margin: 0 0 30px 45px;
                h5{
                    margin: 0;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
            }
            .schedule-table{
                ul.schedule-tabs{
                    list-style: none;
                    display: table;
                    margin: 0;
                    li{
                        float: left;
                        position: relative;
                        display: block;    
                        font-size: 16px;
                        a{
                            color: $ge-elephant;
                            display: block;
                            padding: 15px 20px;
                            margin: 0 2px;
                        }
                        a:hover{
                            background-color: $ge-cloudy;
                        }
                    }
                    .active{
                        a{
                            color: $ge-earth;
                            background-color: $ge-cloudy;
                        }
                    }
                }
            }
            .schedule-module{
                width: 75%;
                .act-header{
                    background-color: $ge-cloudy;
                    margin-left: 42px;
                    height: 50px;
                    padding: 10px 20px;
                    line-height: 1.8;
                }
                .activity{
                    clear: both;
                    height: auto;
                    background-color: $ge-cloudy;
                    margin: 4px 0;
                    margin-left: 42px;
                    padding: 20px;
                    line-height: 1.8;
                    padding-bottom: 5px;
                    .activity-time{
                        background-color: $ge-sunrise;
                        padding: 5px 10px;
                        color: white;
                        float: left;
                    }
                    .activity-info{
                        padding: 0 20px;
                        margin-left: 70px;
                        .activity-type{
                            display: block;
                            font-size: 12px;
                            color: $ge-seal;
                        }
                        .italic{
                            font-style: italic;
                        }
                        .activity-name{
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .activity-descr{
                            font-size: 14px;
                        }
                    }
                    .speakers{
                        margin-left: 90px;
                        height: fit-content;
                        .speaker-block{
                            clear: both;
                            padding-top: 10px;
                            border-top: 1px $ge-dolphin solid;
                            .center-cropped{
                                width: 60px;
                                height: 60px;
                                background-size: 200%;
                                background-position: center center;
                                background-repeat: no-repeat;
                                border-radius: 100px;
                                display: inline-block;
                            }
                            .speaker-info{
                                float: right;
                                padding-top: 20px;
                                width: 87%;
                                span{
                                    font-size: 14px;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
