<app-header></app-header>
<div class="content-body">
  <div class="sub-menu-event">
    <a (click)="goBack()" class="goback">
      Volver
    </a>
    <a (click)="navigateTo('profile')" class="section">
      <fa name="caret-right"></fa>Cuenta
    </a>
    <a (click)="navigateTo('change-password')" class="selected">
      <fa name="caret-right"></fa>Contraseña
    </a>
  </div>

  <div class="password-wrapper">
    <div class="password-content">
      <div class="password-header">
        <h3>Reestablece tu Contraseña</h3>
      </div>
      <form [formGroup]="resetForm" class="password-form" (ngSubmit)="resetPassword()">
        <fieldset>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="text-input">
                <input matInput placeholder="Contraseña Actual" type="password" formControlName="currentPassword" />
                <mat-error *ngIf="resetForm.get('currentPassword').hasError('required')">
                  Contraseña Actual
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="text-input">
                <input matInput placeholder="Contraseña Nueva" type="password" formControlName="newPassword" />
                <mat-error *ngIf="resetForm.get('newPassword').hasError('required')">
                  Contraseña Nueva
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="text-input">
                <input matInput placeholder="Confirmación de Contraseña" type="password" formControlName="confirmPassword" />
                <mat-error *ngIf="resetForm.get('confirmPassword').hasError('required')">
                  Confirme Contraseña
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </fieldset>
        <fieldset class="controls">
          <div class="controls-container">
            <button type="button" class="ge-btn-default btn-cancel" (click)="goBack()">
              <span>Cancelar</span>
            </button>
            <button type="submit" class="ge-btn-default btn-accept">
              <span *ngIf="!loading">Aceptar</span>
              <span *ngIf="loading">
                <fa name="spinner" animation="spin"></fa>
              </span>
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>