@import '~styles/palette';

h3{
    margin: 30px 0;
    text-align: left;
}
.password-wrapper{
    text-align: center;
    .password-content{
        margin: 0 auto;
        width: 30%;
        .password-header{
            margin-top: 10%;
        }
        .password-form{
            fieldset{
                .row{
                    .col-md-6 {
                        flex: none;
                        max-width: none;
                    }
                    mat-error{
                        font-size: 14px;
                        margin: auto;
                    }
                }
            }
            #submit-block .submit-input button{
                min-width: 64px;
                min-height: 36px;
                margin: 20px;
                background-color: $ge-deep-sky;
                color: white;
                cursor: pointer;
            }
            #submit-block .submit-input button:hover{
                background-color: $ge-elephant;
            }
            .register-container{
                font-size: 14px;
                text-align: center;
                padding: 30px 0;
                a{
                    color: $ge-deep-sky;
                    cursor: pointer;
                }
                a:hover{
                    color: $ge-elephant;
                }
            }
        }
    }
}

.event-details{
    background-color: $ge-chalk;
    padding: 30px;
}
.sub-menu-event{
    padding: 20px 10px 0 40px;
    a.goback{
        float: left;
        padding: 10px 20px;
        margin: 7px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: white;
        background-color: $ge-sunrise;
    }
    a.goback:hover{
        background-color: $ge-sunset;
    }
    a.section{
        line-height: 3.5;
        margin: 10px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: $ge-earth;
        fa{
            color: $ge-sunrise;
            transition: .2s;
            padding: 5px;
        }
    }
    a.section:hover{
        color: $ge-seal;
        fa{
            color: $ge-sunset;
        }
    }
    a.selected{
        line-height: 3.5;
        margin: 10px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: black;
        fa{
            color: $ge-earth;
            transition: .2s;
            padding: 5px;
        }
    }
}

@media (max-width: 768px) { 
    .password-wrapper{
        .password-content{
            width: 100%;
            padding: 0 40px;
        }
    }
}