<app-header></app-header>

<div class="content-body">
  <div class="loader" *ngIf="loading"></div>
  <div class="event-info-container" *ngIf="!loading">
    Gestión de Agenda: <strong>{{this.event.Name}}</strong>
  </div>
  <div class="schedule-container" *ngIf="!loading">
    <div class="schedule-controls">
      <a class="add-schedule" (click)="openScheduleDialog(null)">Agregar Día</a>
      <!-- <a class="see-speakers" (click)="openSpeakers()">Ver Speakers</a> -->
    </div>
    <div class="row blocks-container">
      <div class="col-sm-4 col-md-3" *ngFor="let schedule of schedules">
        <div class="schedule-block">
          <div class="schedule-header">
            <span>Día {{schedule.PrettyDate}}</span>
            <a (click)="openScheduleDialog(schedule)">
              <fa name="edit"></fa>
            </a>
          </div>
          <div class="activities-container">
            <div class="activity-block" *ngFor="let activity of schedule.Activities">
              <a class="activity" (click)="openActivityDialog(schedule.Id, schedule.Date, activity)">
                <div class="activity-header">
                  <span class="activity-name">{{activity.name}}</span>
                  <span class="activity-time">{{getPrettyTime(activity.startTime)}}</span>
                </div>
                <div class="activity-description">{{activity.description}}</div>
              </a>
              <div class="speakers-container">
                <div class="speaker-block" *ngFor="let speaker of activity.speakers">
                  <a (click)="openSpeakersDialog(activity.id, speaker)">
                    <span>{{speaker.firstName}} {{speaker.lastName}}</span>
                  </a>
                </div>
                <div class="speakers-controls">
                  <a (click)="openSpeakersDialog(activity.id, null)">
                    <fa name="plus"></fa> Agregar Speaker
                  </a>
                </div>
              </div>
            </div>
            <div class="add-activity">
              <a title="Agregar Actividad" (click)="openActivityDialog(schedule.Id, schedule.Date, null)">
                <fa name="plus"></fa>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>