nav{
    background-color: #E5E8E8;
    #collapsingNavbar2{
        ul{
            li.nav-item{
                a{
                    cursor: pointer;
                    :hover{
                        color: skyblue;
                    }
                }
            }
            li.active{
                color: blueviolet;
                a{
                    color: black;
                }
            }
        }
    }
}