@import '~styles/palette';
nav{
    background-color: $ge-earth;
    .navbar-left{
        float: left;
        a.navbar-brand{
            color: $ge-chalk;
        }
    }
    .navbar-center{
        clear: both;
        margin: 0 auto;
        width: fit-content;
    }
    #collapsingNavbar2{
        ul{
            li.nav-item{
                a{
                    color: $ge-chalk;
                    cursor: pointer;
                }
                a:hover{
                    color: $ge-dolphin;
                }
            }
            li.active{
                a{
                    color: $ge-seal;
                }
            }
            
        }
    }
    .navbar-right{
        float: right;
        ul{
            li.right-item{
                margin: 15px;
                a{
                    cursor: pointer;
                    color: $ge-chalk;
                    .profile-icon{
                        color: $ge-deep-sky;
                        margin: 3px;
                        -o-transition:.5s;
                        -ms-transition:.5s;
                        -moz-transition:.5s;
                        -webkit-transition:.5s;
                        transition:.5s;
                    }
                }
                a:hover{
                    color:  $ge-dolphin;
                    .profile-icon{
                        color: $ge-dark-sky;
                    }
                }
            }
        }
    }
}