<nav class="navbar navbar-light navbar-expand-md justify-content-center">
    <a href="/events" class="navbar-brand mr-0">Gestor Eventos</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" (click)="navigateTo('events')">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('contacts')">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('locations')">Locaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('accreditation')"> | Acreditación | </a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="right-item nav-item">
                <a>
                    <fa name="user" class="profile-icon"></fa> Mi cuenta
                </a>
            </li>
            <li class="right-item nav-item">
                <a (click)="logout()">Salir</a>
            </li>
        </ul>
    </div>
</nav>