<app-header></app-header>
<div class="content-body">
  <div class="sub-menu-event">
    <a (click)="goBack()">
      <fa name="caret-left"></fa> Volver
    </a>
  </div>
  <div class="container event-details">
    <div class="loader" *ngIf="loading"></div>
    <div class="row" *ngIf="!loading">
      <div class="col-xs-6 col-md-6">
        <div class="event-header">
          <h2>{{event.Name}}</h2>
          <a class="event-edit" (click)="editEvent(event)">
            <fa name="edit"></fa>Editar
          </a>
        </div>
        <div class="event-timespans">
          <div class="timespan-label">
            <span>Comienza:</span> {{showDate(event.StartDate)}} <fa name="caret-right"></fa>
            {{showTime(event.StartDate)}}
          </div>
          <div class="timespan-label">
            <span>Termina:</span> {{showDate(event.EndDate)}} <fa name="caret-right"></fa>
            {{showTime(event.EndDate)}}
          </div>
        </div>
        <div class="event-location">
          <span>Lugar:</span> {{event.Location}}
        </div>
        <div class="event-description">
          <p>{{event.Description}}</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="event-right">

          <div class="event-img center-cropped" [ngStyle]="{ 'background-image': 'url(' + event.Image + ')'}">
          </div>
          <div class="event-controls">
            <a class="cancel">Cancelar Evento</a>
            <a>Vista Previa</a>
            <a (click)="getSchedule()">Gestionar Agenda</a>
            <a (click)="sendCampaign()">Difundir</a>
            <a (click)="navigateTo('events/' + event.EventId + '/participants')">Participantes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>