@import '~styles/palette';

.event-details{
    padding: 10px 30px;
}
.event-header{
    width: 100%;
    display: inline-block;
    padding-right: 20px;
    h2{
        float: left;
    }
    a.event-edit{
        font-size: 14px;
        line-height: 2;
        float: right;
        cursor: pointer;
    }
    a.event-edit:hover{
        color: $ge-deep-sky;
    }
}

.sub-menu-event{
    padding: 20px;
    height: fit-content;
    a{
        padding: 12px 22px;
        margin: 7px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        cursor: pointer;
        background-color: $ge-sunrise;
        color: $ge-chalk;
        fa{
            padding-right: 3px;
        }
    }
    a:hover{
        background-color: $ge-sunset;
        color: $ge-chalk;
    }
}
.event-timespans{
    padding: 20px 0;
    font-size: 14px;
    .timespan-label{
        span{
            display: inline-block;
            width: 80px;
            color: $ge-elephant;
        }
        fa{
            color: $ge-sunrise;
            margin: 7px;
        }

    }
}
.event-location{
    font-size: 14px;
    padding: 10px 0;
    span{
        color: $ge-elephant;
    }
}
.event-description{
    padding: 20px 0;
    padding-right: 30px;
    font-size: 14px;
    line-height: 1.8;
}
.event-right{
    width: 100%;
    .event-img{
        float: right;
    }
    .center-cropped {
        width: 500px;
        height: 250px;
        background-size: 120%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .event-controls{
        float: right;
        margin-top: 20px;
        text-align: -webkit-right;
        margin-right: 2px;
        padding-right: 10px;
        border-right: 1px $ge-seal solid;
        a{
            cursor: pointer;
            display: block;
            min-width: 137px;
            font-size: 14px;
            background-color: $ge-sunrise;
            text-align: center;
            color: white;
            padding: 5px 10px;
            margin: 10px 5px;
        }
        a.cancel{
            background-color: $ge-elephant;
        }
        a:hover{
            background-color: $ge-sunset;
        }
        a.cancel:hover{
            background-color: $ge-rat;
        }
    }
}

@media (max-width: 992px) { 

}

@media (max-width: 768px) { 
    .sub-menu-event{
        padding: 30px 20px;
    }
    .event-header a.event-edit {
        float: left;
        color: $ge-deep-sky;
        font-size: 16px;
    }
    .event-right .event-controls {
        border-right: none;
        float: none;
    }

    .event-right .center-cropped {
        width: 100%;
        height: 200px;
        background-size: 120%;
        background-position: center center;
        background-repeat: no-repeat;
    }

}