<app-header></app-header>
<div class="content-body">
  <div class="sub-menu-event">
    <a (click)="goBack()" class="goback">
      Volver
    </a>
    <a (click)="navigateTo('profile')" class="selected">
      <fa name="caret-right"></fa>Cuenta
    </a>
    <a (click)="navigateTo('change-password')" class="section">
      <fa name="caret-right"></fa>Contraseña
    </a>
  </div>

  <div *ngIf="account!=null" class="container profile-details content-body">
    <div class="form-container">
      <div class="loader" *ngIf="loading"></div>
      <form *ngIf="accountForm!=null" [formGroup]="accountForm" (ngSubmit)="updateAccount()">
        <fieldset>
          <h3 class="first">Información de Contacto</h3>

          <div class="inline">
            <mat-form-field class="input-firstname">
              <input matInput placeholder="Nombre *" formControlName="FirstName" />
              <mat-error *ngIf="accountForm.get('FirstName').hasError('required') && this.submitted">
                Nombre
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input-lastname">
              <input matInput placeholder="Apellido *" formControlName="LastName" />
              <mat-error *ngIf="accountForm.get('LastName').hasError('required') && this.submitted">
                Apellido
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="input-email">
            <input matInput placeholder="Correo Electrónico*" formControlName="Email" readonly />
            <mat-error *ngIf="accountForm.get('Email').hasError('required') && this.submitted">
              Correo Electronico
            </mat-error>
          </mat-form-field>
          <div class="inline">
            <mat-form-field class="input-phone">
              <input matInput placeholder="Teléfono" formControlName="Phone" />
            </mat-form-field>

            <mat-form-field class="input-cellphone">
              <input matInput placeholder="Celular" formControlName="CellPhone" />
            </mat-form-field>
          </div>
          <div class="inline">
            <mat-form-field class="input-job">
              <input matInput placeholder="Cargo" formControlName="Job" />
            </mat-form-field>

            <mat-form-field class="input-organization">
              <input matInput placeholder="Organización" formControlName="Organization" />
            </mat-form-field>
          </div>

          <h3>Información de la Organización</h3>

          <mat-form-field class="input-address1">
            <input matInput placeholder="Dirección 1" formControlName="Address1" />
          </mat-form-field>
          <mat-form-field class="input-address2">
            <input matInput placeholder="Dirección 2" formControlName="Address2" />
          </mat-form-field>
          <mat-form-field class="input-city">
            <input matInput placeholder="Ciudad" formControlName="City" />
          </mat-form-field>
          <mat-form-field class="input-country">
            <input matInput placeholder="País" formControlName="Country" />
          </mat-form-field>

        </fieldset>
        <fieldset class="controls">
          <div class="controls-container">
            <button type="button" class="ge-btn-default btn-cancel" (click)="goBack()">
              <span>Cancelar</span>
            </button>
            <button type="submit" class="ge-btn-default btn-accept">
              <span *ngIf="!loadingBtn">Actualizar</span>
              <span *ngIf="loadingBtn">
                <fa name="spinner" animation="spin"></fa>
              </span>
            </button>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>
<app-footer></app-footer>