.form-container{
    padding-right: 30px;
}
.modal-body{
    padding: 15px 0 0 10px;
}
.input-ocup{
    width: 50%;
    padding-right: 10px;
}
.input-nat{
    width: 50%;
    padding-left: 10px;
}
.controls-container{
    margin-top: 10px;
}