@import '~styles/palette';

.forgot-wrapper{
    text-align: center;
    .forgot-content{
        margin: 0 auto;
        padding-top: 50px;
        width: 20%;
        .forgot-header{
            margin-top: 10%;
        }
        .forgot-form{
            fieldset{
                padding-top: 30px;
                .row{
                    .col-md-6 {
                        flex: none;
                        max-width: none;
                    }
                    mat-error{
                        font-size: 14px;
                        margin: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) { 
    .forgot-wrapper{
        .forgot-content{
            width: 100%;
            padding: 0 40px;
            padding-top: 50px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) { 
    .forgot-wrapper{
        .forgot-content{
            width: 50%;
        }
    }
}