<login-header></login-header>

<div class="forgot-wrapper">
  <div class="forgot-content">
    <div class="forgot-header">
      <h5>Recupera tu Contraseña</h5>
    </div>
    <form [formGroup]="forgotForm" class="forgot-form" (ngSubmit)="forgotPassword()">
      <fieldset>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="text-input">
              <input matInput placeholder="Email" type="email" formControlName="email" />
              <mat-error *ngIf="forgotForm.get('email').hasError('required')">
                Correo Electrónico
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </fieldset>
      <fieldset class="controls">
          <div class="controls-container">
            <button type="button" class="ge-btn-default btn-cancel" (click)="goBack()">
              <span>Cancelar</span>
            </button>
            <button type="submit" class="ge-btn-default btn-accept">
              <span *ngIf="!loading">Aceptar</span>
              <span *ngIf="loading">
                <fa name="spinner" animation="spin"></fa>
              </span>
            </button>
          </div>
        </fieldset>
    </form>
  </div>
</div>
<app-footer></app-footer>