<div class="modal-header">
  <P>Administrar Temas</P>
  <div class="close-modal-block">
    <button type="button" class="close" [mat-dialog-close]="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="modal-list">
    <ul>
      <li *ngFor="let topic of topics">{{topic.Name}}<a class="topic-delete options" (click)="removeTopic(topic.TopicId)"><fa name="remove" title="Eliminar"></fa></a></li>
    </ul>
  </div>
  <div>
    <form [formGroup]="topicsForm" class="topics-form" (ngSubmit)="addTopic()">
      <fieldset>
        <div class="inline">
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="Agrega un tema" formControlName="name" />
            <mat-error *ngIf="topicsForm.get('name').hasError('required') && this.submitted">
                Escriba un nombre
            </mat-error>
          </mat-form-field>
          <button type="submit" class="ge-btn-default">
            <span>Agregar</span>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="close" cdkFocusInitial>Ok</button>
</div> -->