$ge-deep-sky: rgb(0, 155, 175); 
$ge-dark-sky: #2e7885 ;
$ge-burgundy:#6C0E23;
$ge-sunrise: #FF7C68; 
$ge-sunset: #DE5F5A; 
$ge-chalk: #FDFCF6; 
$ge-dolphin: rgb(216, 216, 216);
$ge-seal: rgb(172, 172, 172);
$ge-elephant: #878678;
$ge-rat: #727166;
$ge-earth: rgb(71, 71, 71); 