$ge-deep-sky: deepskyblue; 
$ge-dark-sky: rgb(0, 155, 175);
$ge-ocean: rgb(27, 231, 180);
$ge-ocean-hover:rgb(18, 187, 136);
$ge-gold: gold; 
$ge-gold-hover: goldenrod; 
$ge-sunset: orangered; 
$ge-chalk: #FDFCF6; 
$ge-dolphin: #E5E8E8;
$ge-elephant: rgb(136, 136, 136);
$ge-earth: #484A4C; 