@import '~styles/palette';

.style-l{
    background-color: $ge-ocean;
}
.style-l:hover{
    background-color: $ge-ocean-hover;
}

th:nth-child(1), th:nth-child(2) {
    width: 20%;
}
th:last-child {
    width: 5%;
}