<app-header></app-header>
<div class="sub-menu">
    <div class="left-smenu">
        <a class="style-l" title="Importar lista de contactos">Importar <fa name="upload"></fa></a>
    </div>
    <div class="right-smenu">
        <a title="Agregar Contacto" (click)="openDialog(null)">
            <fa name="plus"></fa>
        </a>
    </div>
    <div class="search">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            <div class="ico-search"><span class="ico ico-mglass"></span></div>
        </mat-form-field>
    </div>
</div>
<div class="content-body">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                <a class="options" (click)="removeInterested(element.Id)">
                    <fa name="remove" title="Eliminar"></fa>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
<app-footer></app-footer>