<div>
    <div class="find-header">
        <h5>Login</h5>
    </div>
    <div>or <a>Register</a></div>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-input">
                        <mat-form-field class="text-input">
                            <input matInput placeholder="Email" type="email" formControlName="username" />
                            <mat-error *ngIf="loginForm.get('username').hasError('required')">
                                Username is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-input">
                        <mat-form-field class="text-input">
                            <input matInput placeholder="Password" type="password" formControlName="password" />
                            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </fieldset>
        <div id="submit-block">
            <div class="submit-input">
                <button type="submit" id="login-submit" class="btn btn-next">
                    <span *ngIf="!loading">Login</span>
                    <span *ngIf="loading"><i class="fas fa-spinner fa-pulse"></i></span>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- <input type="text" [(ngModel)]="username">
<input type="password" [(ngModel)]="password">
<span *ngIf="loginError">El usuario o contraseña son incorrectos</span>

<button (click)="login()">Login</button> -->