.form-container{
    padding-right: 30px;
}
.modal-body{
    padding: 15px 0 0 10px;
}
.input-name{
    width: 60%;
    padding-right: 10px;
}
.input-capacity{
    width: 40%;
    padding-left: 10px;
}
.input-city{
    width: 50%;
    padding-right: 10px;
}
.input-country{
    width: 50%;
    padding-left: 10px;
}