<div class="upload-container">
  <div *ngIf="fileUrl!=null" class="event-img center-cropped" [ngStyle]="{ 'background-image': 'url(' + fileUrl + ')'}">
  </div>
  <div class="file-upload" [ngClass]="{'active': fileLoaded}">
    <a (click)="file.click()" class="file-btn-wrapper">
      <div class="file-select">
        <div class="file-select-button" id="fileName">Cargar imagen</div>
        <div class="file-select-name" id="noFile">
          <span *ngIf="!fileLoaded">Ningun archivo selecionado...</span>
          <span *ngIf="fileLoaded">{{fileName}}</span>
        </div>
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files, $event)" style="display:none;">
        <div>
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>
      </div>
    </a>
  </div>
  <fieldset class="controls">
      <div class="controls-container">
          <button type="button" class="ge-btn-default btn-cancel" (click)="clearImage()">
              <span>Cancelar</span>
          </button>
          <button class="ge-btn-default btn-accept" (click)="saveFile()">
              <span *ngIf="!loadingfile">Guardar Imagen</span>
              <span *ngIf="loadingfile">{{progress}}</span>
          </button>
      </div>
  </fieldset>
</div>