@import '~styles/palette';

.upload-container{
    height: 100%;
    padding: 0 20px 10px 20px;
}
.file-upload {
    display:block;
    text-align:center;
    font-size: 12px;
    margin-top: 10px;
    .file-select {
        display:block;
        border: 2px solid $ge-dolphin;
        color: $ge-rat;
        cursor:pointer;
        height:40px;
        line-height:40px;
        text-align:left;
        background: white;
        overflow:hidden;
        position:relative;
        .file-select-button {
            background:$ge-dolphin;
            padding:0 10px;
            display:inline-block;
            height:40px;
            line-height:40px;
            color: $ge-earth;
        }
        .file-select-name {
            line-height:40px;
            display:inline-block;
            padding:0 10px;
        }
    }
    .file-select:hover {
        border-color:$ge-rat;
        transition:all .2s ease-in-out;
        -moz-transition:all .2s ease-in-out;
        -webkit-transition:all .2s ease-in-out;
        -o-transition:all .2s ease-in-out;
        .file-select-button {
            background:$ge-rat;
            color:$ge-chalk;
            transition:all .2s ease-in-out;
            -moz-transition:all .2s ease-in-out;
            -webkit-transition:all .2s ease-in-out;
            -o-transition:all .2s ease-in-out;
        }
    }
}
.file-upload.active {
    .file-select {
        border-color: $ge-sunset;
        transition:all .2s ease-in-out;
        -moz-transition:all .2s ease-in-out;
        -webkit-transition:all .2s ease-in-out;
        -o-transition:all .2s ease-in-out;
        .file-select-button {
            background:$ge-sunset;
            color: $ge-chalk;
            transition:all .2s ease-in-out;
            -moz-transition:all .2s ease-in-out;
            -webkit-transition:all .2s ease-in-out;
            -o-transition:all .2s ease-in-out;
        }
        input[type=file] {
            z-index:100;
            cursor:pointer;
            position:absolute;
            height:100%;
            width:100%;
            top:0;
            left:0;
            opacity:0;
            filter:alpha(opacity=0);
        }
    }
    .file-select.file-select-disabled {
        opacity:0.65;
    }
    .file-select.file-select-disabled:hover {
        cursor:default;
        display:block;
        border: 2px solid $ge-dolphin;
        color: $ge-earth;
        cursor:pointer;
        height:40px;
        line-height:40px;
        margin-top:5px;
        text-align:left;
        background: $ge-chalk;
        overflow:hidden;
        position:relative;
        .file-select-button {
            background: $ge-dolphin;
            color:$ge-seal;
            padding:0 10px;
            display:inline-block;
            height:40px;
            line-height:40px;
        }
        .file-select-name {
            line-height:40px;
            display:inline-block;
            padding:0 10px;
        }
    }
}

.center-cropped {
    height: 80%;
    background-size: 110%;
    background-position: center center;
    background-repeat: no-repeat;
}
.event-controls{
    float: right;
    padding-top: 25px;
    margin-top: 35px;
    padding-left: 25px;
    border-top: 0.7px solid $ge-elephant;
    a{
        cursor: pointer;
        display: block;
        margin-left: 20px;
        width: fit-content;
        height: fit-content;
        float: right;
        font-size: 14px;
        background-color: $ge-sunrise;
        text-align: center;
        color: white;
        padding: 10px 20px;
    }
    a.cancel{
        background-color: $ge-elephant;
        margin-right: 0;
    }
    a:hover{
        background-color: $ge-sunset;
    }
    a.cancel:hover{
        background-color: $ge-rat;
    }
}

.controls{
    margin-top: 5px;
}
.controls-container{
    margin-bottom: 0;
    margin-top: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
}
.result-message{
    padding: 5px 0;
    color: green;
    font-size: 12px;
}

@media (max-width: 992px) { 

}

@media (max-width: 768px) { 
    .upload-container{
        height: 250px;
        padding: 0;
        margin-bottom: 30px;
    }
}