<app-header></app-header>

<div class="home-content">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.Image}}" width="40px" height="35px" /></td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
        </ng-container>

        <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.LocationId}} </td>
        </ng-container>

        <ng-container matColumnDef="StartDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </th>
            <td mat-cell *matCellDef="let element"> {{element.PrettyStartDate}} </td>
        </ng-container>

        <ng-container matColumnDef="FinishDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FinishDate </th>
            <td mat-cell *matCellDef="let element"> {{element.PrettyEndDate}} </td>
        </ng-container>

        <ng-container matColumnDef="StartTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> StartTime </th>
            <td mat-cell *matCellDef="let element"> {{element.PrettyStartTime}} </td>
        </ng-container>

        <ng-container matColumnDef="FinishTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FinishTime </th>
            <td mat-cell *matCellDef="let element"> {{element.PrettyEndTime}} </td>
        </ng-container>

        <ng-container matColumnDef="Topic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Topic </th>
            <td mat-cell *matCellDef="let element"> {{element.EventTopicId}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<app-footer></app-footer>