@import '~styles/palette';

.events-header{
    padding: 50px 0 10px 50px;
    .title{
        padding-left: 10px;
        .title-decor{
            height: 50px;
            width: 10px;
            background-color: $ge-sunrise;
            margin-right: 20px;
            float: left;
        }
        .title-text{
            font-family: inherit;
            font-weight: 500;
            font-size: 34px;
            line-height: 1.6;
            float: left;
            text-rendering: optimizeLegibility;
        }
    }
}
.p-events-container{
    clear: both;
    max-width: 1356px;
    margin: 0 auto;
    .row{
        padding: 40px 60px;
        .event-col{
            .event-container{
                padding: 20px;
                height: fit-content;
                a{
                    display: block;
                    width: 100%;
                    height: 320px;
                    border-radius: 5px;
                    .event-img{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                    .center-cropped {
                        width: 100%;
                        height: 60%;
                        background-size: 110%;
                        background-position: top center;
                        background-repeat: no-repeat;
                    }
                    .event-info{
                        padding: 15px;
                        width: 80%;
                        float: left;
                        .event-name{
                            display: block;
                            padding-bottom: 5px;
                            font-weight: 600;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .event-loc{
                            display: block;
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .event-descr{
                            font-size: 12px;
                            display: -webkit-box;
                        }
                    }
                    .event-date{
                        padding: 15px;
                        width: 20%;
                        float: right;
                        text-align: center;
                        .event-day{
                            font-size: 18px;
                            display: block;
                            font-weight: 600;
                            color: $ge-elephant;
                        }
                        .event-month{
                            font-size: 16px;
                            display: block;
                            color: $ge-sunrise;
                            font-weight: 600;
                        }
                    }
                }
                a:hover{
                    box-shadow: 0 3px 7px 0 $ge-dolphin, 0 5px 15px 0 $ge-dolphin;
                }
            }
        }
    }
}

@media (max-width: 768px) { 
    .events-header {
        padding: 20px 10px;
        .title{
            .title-decor {
                height: 73px;
                width: 10px;
                margin-right: 10px;
            }
            .title-text {
                font-size: 24px;
                line-height: 1.6;
                display: block;
                width: 93%;
            }
        } 
    }
    .p-events-container{
        .row{
            padding: 10px;
            .event-col {
                .event-container{
                    padding: 10px;
                    a{
                        height: 330px;
                        box-shadow: 0 3px 7px 0 $ge-dolphin, 0 5px 15px 0 $ge-dolphin;
                        .center-cropped{
                            background-size: 110%;
                        }
                        .event-info{
                            padding-top: 15;
                            width: 80%;
                            .event-descr{
                                padding-top: 5px;
                                padding-right: 5px;
                            }
                        }
                        .event-date{
                            padding: 15px;
                            width: 20%;
                            float: right;
                            text-align: center;
                        }
                    }
                } 
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) { 
    .p-events-container{
        .row{
            .event-col {
                .event-container{
                    padding: 10px;
                    a{
                        height: 230px;
                        .center-cropped {
                            height: 50%;
                        }
                        .event-info{
                            padding-top: 10px;
                            width: 75%;
                            .event-descr{
                                padding-top: 5px;
                                padding-right: 5px;
                            }
                        }
                        .event-date{
                            padding: 5px;
                            width: 25%;
                            float: right;
                            text-align: center;
                        }
                    }
                } 
            }
        }
    }
}

@media (min-width: 993px) and (max-width: 1070px) { 
    .p-events-container{
        .row{
            .event-col {
                .event-container{
                    padding: 10px;
                    a{
                        height: 230px;
                        .center-cropped {
                            height: 50%;
                        }
                    }
                } 
            }
        }
    }
}