@import '~styles/palette';

.sub-menu {
    .left-smenu{
        float: left;
        margin: 30px 0 0 15px;
        a{
            display: inline;
            padding: 5px 10px;
            margin: 7px;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: white;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            cursor: pointer;
        }
    }
    .right-smenu{
        float: right;
        margin: 15px;
        a{
            display: inline-block;
            height: 40px;
            width: 40px;
            padding: 10px;
            margin: 7px 35px 0 0;
            font-size: 100%;
            line-height: 1.2;
            color: white;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border-radius: 100%;
            cursor: pointer;
            background-color: $ge-deep-sky;
        }
        a:hover{
            background-color: $ge-dark-sky;
        }
    }
}

.style-l{
    background-color: $ge-ocean;
}
.style-l:hover{
    background-color: $ge-ocean-hover;
}
.style-t{
    background-color: $ge-gold;
}
.style-t:hover{
    background-color: $ge-gold-hover;
}
