<nav class="navbar navbar-expand-sm navbar-light footer" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <div class="collapse navbar-collapse text-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="footer-span nav-link">Gestion Eventos - Todos los derechos reservados | </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>