@import '~styles/palette';
.footer {
    background-color: $ge-earth;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 .footer-span{
    font-size: 12px;
 }
 .navbar-nav{
    li:nth-child(1){
        line-height: 2;
    }
    .nav-item{
        color: $ge-seal;
        a{
            color: $ge-seal;
        }
        a:hover{
            color: $ge-chalk;
        }
     }
 }
